/** shared by h1 and h2 **/
@define-mixin header-font {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*@define-mixin long-copy-template {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}*/

@define-mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
