.site-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/images/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;

  &__logo img {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
  }

  &__main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;

    & li {
      display: inline-block;
      margin-left: 40px;
    }

    & a {
      padding: 8px 0px;
      color: #FFF;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s;
    }

    & a:hover, a&:active {
      border-bottom: 2px solid $mainOrange;
    }
  }
}

.hero-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__title {
    margin: 0 0 20px 0;
    color: #FFF;
    font-size: 40px;
    word-spacing: 4px;
    @mixin header-font;
  }
}
