.icon {
  &--big {
    font-size: 80px;
    display: block;
    color: $mainOrange;
    margin-bottom: 10px;
  }

  &--small {
    display: inline-block;
    font-size: 24px;
    margin-right: 10px;
    color: $mainOrange;
    width: 30px;
    position: relative;
    top: 1px;
  }

  &.ion-social-facebook, &.ion-social-twitter, &.ion-social-googleplus, &.ion-social-instagram {
    transition: color 0.2s
  }

  &.ion-social-facebook:hover {
    color: #3b5998;
  }

  &.ion-social-twitter:hover {
    color: #00aced;
  }

  &.ion-social-googleplus:hover {
    color: #dd4b39;
  }

  &.ion-social-instagram:hover {
    color: #517fa4;
  }
}
