.meal-plans {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /*@mixin atMedium {
    flex-wrap: nowrap;
  }*/

  &__box {
    position: relative;
    margin: 1rem;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #fff;
    flex: 0 1 320px;
  }

  &__title {
    font-weight: 300;
    text-transform: uppercase;
  }

  &__price {
    color: $mainOrange;
    font-size: 48px;
    font-weight: 100;
    padding: 20px 0 10px;

    @mixin atLarge {
      font-size: 60px;
    }

    & span {
      font-size: 18px;
      font-weight: 300;
      margin-left: 10px;
    }
  }

  &__blurb {
    font-size: 16px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 0 10px;
  }

  &__feature-list {
    padding: 20px 0;
  }

  &__feature {
    padding: 5px 0;
    font-size: 18px;

    @mixin atLarge {
      font-size: 20px;
    }

    &:before {
      font-family: "Ionicons";
      content: "\f3fd";
      font-size: 24px;
      color: $mainOrange;
      display: inline-block;
      position: relative;
      top: 2px;
      margin: 0 20px 0 10px;
    }
  }

  &__action {
    background-color: $mainOrange;
    border: none;
  }
}
